[data]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba1/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1

[data_0]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing1/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_1]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing2/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_2]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing3/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_3]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing4/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_4]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing5/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_5]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing6/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_6]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing7/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_7]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_swing8/
dframe = 1
init_frame  = 0
end_frame = 150
can_frame = -1
sym_angle = 0

[data_8]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba1/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_9]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba2/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_10]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba3/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_11]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba4/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_12]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba5/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_13]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba6/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0

[data_14]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba7/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0


[data_15]
datapath = database/DAVIS/JPEGImages/Full-Resolution/T_samba8/
dframe = 1
init_frame  = 0
end_frame = 175
can_frame = -1
sym_angle = 0


[meta]
numvid = 16
