[data]
datapath = database/DAVIS/JPEGImages/Full-Resolution/rbreakdance-flare/
dframe = 1 
init_frame  = 0
end_frame = -1
can_frame = -1

[data_0]
datapath = database/DAVIS/JPEGImages/Full-Resolution/rbreakdance-flare/
dframe = 1
init_frame  = 22
end_frame = 42
can_frame = -1
ppx = 960
ppy = 540

[meta]
numvid = 1
